body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #762636;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

ul{
    list-style-type: none;
    display: flex; 
}

li{
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

section {
    padding: 40px;
    height: 100vh;
}

#intro, #about, #skills, #projects, #education, #contact{
    text-align: center;
}

#intro{
    text-align: center;
    background-color: #336B87;
}

#intro h1{
    margin-top: 100px;
}

#intro-image {
    display: inline-block;
    margin-top: 20px; 
}

#about {
    background-color: #90AFC5;
    font-size: 25px;
}

#skills {
    background-color: #336B87;
    
}

.skills-box {
    background-color: #90AFC5; 
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skill {
    flex: 0 0 calc(20% - 10px);
    background-color: lightgray;
    padding: 50px;
    border-radius: 5px;
    font-size: 30px;
}

#projects {
    background-color: #90AFC5;
}

.project {
    flex: 0 0 calc(48% - 10px); 
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#education {
    background-color: #336B87;
}

.edu {
    flex: 0 0 calc(48% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.edu img {
    width: 50%;
    height: 50%; 
    object-fit: cover;
    object-position: center;
}

.eduinfo {
    padding: 20px;
    font-size: 25px;
}

.eduinfo h3 {
    margin-bottom: 10px;
}

#contact {
    background-color: #90AFC5;
}

.icons {
    margin-top: 30px;
}

.icons a {
    display: inline-block;
    margin-right: 20px;
}

.icons img {
    width: 70px; 
    height: 70px;
}



h2 {
    color: white;
    font-size: 40px;
}

.project{
    color: black
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    flex: 0 0 calc(48% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
}

.project-info a {
    display: inline-block;
    background-color: #336699;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}